@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;700&display=swap');

/* Globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.body {
    background: ghostwhite;
}

.container {
    width: 95%;
    margin: auto;
}

a {
    color: #333333;
}

/* Header */

.nav__container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__title {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 36px;
}

.nav__links {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: end;
    font-size: 18px;
}

.nav__link--active {
    font-weight: bold;
}

.nav__check {
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

/* Hero */

.hero__container {
    margin-top: 50px;
    max-width: 100vw;
}

.hero__section {
    margin-left: 200px;
}

.hero__section:first-child {
    width: 500px;
}

.hero__section:last-child {
    width: 300px;
}

.hero__subtitle {
    color: #2D9CDB;
    font-size: 14px;
}

.hero__title {
    font-size: 38px;
    color: #333333;
    margin: 20px 0;
}

.hero__paragraph {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 400;
}

.hero__img {
    width: 100%;
    border-radius: 18px;
}

.hero__form {
    margin-top: 30px;
}

.form__label {
    font-size: 12px;
    color: #828282;
}

.form__section {
    display: flex;
}

.form__input {
    border: none;
    width: 70%;
    border-radius: 12px 0 0 12px;
    background-color: #F2F2F2;
    padding: 10px;
    color: #BDBDBD;
}

.form__button {
    border: none;
    color: white;
    padding: 10px 25px;
    background: #2D9CDB;
    border-radius: 0 12px 12px 0px;
}

/* Main */

main {
    width: 75%;
    margin: auto;
    margin-top: 100px;
}

/* Services */

.services__title {
    font-weight: 500;
    color: #333333;
    font-size: 36px;
    max-width: 500px;
}

.services__card {
    display: flex;
    gap: 20px;
}

.s-card__content {
    display: flex;
    gap: 20px;
    padding: 40px 20px 40px;
    border-radius: 24px;
    flex-direction: column;
}

.s-card__content--active {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.s-card__icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: white;
}

.s-card__icon--blue {
    background-color: #2D9CDB;
}

.s-card__icon--green {
    background-color: #27AE60;
}

.s-card__icon--red {
    background-color: #EB5757;
}

.s-card__title {
    font-weight: 700;
    font-size: 20px;
    color: #333333;
}

.s-card__paragraph {
    font-weight: 400;
    font-size: 14px;
    color: #4F4F4F;
}

.s-card__button {
    width: 100px;
    height: 35px;
    background-color: #E0E0E0;
    color: #828282;
    outline: none;
    border: none;
    border-radius: 12px;
}

.s-card__button--active {
    background-color: #2D9CDB;
    color: white;
}

/* Proyects  */

.proyects__container {
    margin-top: 100px;
}

.proyects__title {
    font-weight: 500;
    color: #333333;
    font-size: 36px;
    max-width: 500px;
}

.proyects__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
} 

.p-card__content {
    width: 45%;
}

.p-card__content:first-child {
    margin-top: 100px;
}

.p-card__content:nth-child(3) {
    margin-top: 100px;
}

.p-card__img {
    border-radius: 12px;
    width: 100%;
}

.p-card__subtitle {
    color: #828282;
    font-size: 12px;
    font-weight: 300;
}

.p-card__title {
    color: #333333;
    font-size: 22px;
}

.proyects__link {
    text-align: end;
}

.proyects__link a { 
    color: #2D9CDB;
    font-size: 20px;
}

/* Team */

.team__container {
    margin-top: 60px;
    display: grid;
    height: 400px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.team__subtitle {
    color: #EB5757;
    font-size: 18px;
}

.team__title {
    color: #333333;
    font-size: 36px;
}

.team__paragraph {
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
}

.team__photos {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(30, 15px);
    grid-template-rows: repeat(30, 15px);
}

.team__photos div {
    border-radius: 24px;
}

.team__photos div:nth-child(1) {
    background-image: url('img/person3.png');
    background-size: cover;
    grid-column: 1/18;
    grid-row: 7/25;
}

.team__photos div:nth-child(2) {
    background-image: url('img/person1.png');
    background-size: cover;
    grid-column: 19/30;
    grid-row: 5/16;
}

.team__photos div:nth-child(3) {
    background-image: url('img/person2.png');
    background-size: cover;
    grid-column: 19/31;
    grid-row: 17/28;
}

/* Testimonial */

.testimonial__container {
    margin-top: 100px;
}

.testimonial__text {
    font-size: 36px;
    width: 85%;
    margin-bottom: 20px;
    color: #333333;
}

.testimonial__profile {
    display: flex;
    gap: 20px;
}

.profile__photo {
    border-radius: 12px;
    width: 80px;
    height: 80px;
}

.profile__name {
    font-size: 20px;
    color: #333333;
}

.profile__profession {
    font-size: 14px;
    color: #828282;
}

/* Footer */

.footer__container {
    background-color: #100E1D;
    min-height: 300px;
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.footer__nav a {
    color: white;
}

/* Created by */

.createdBy {
    color: white;
    width: 100%;
    background-color: #100E1D;
    font-family: Montserrat;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}

.createdBy a {
    color: white;
    font-weight: 700;
    text-decoration: underline;
}

/* Querys */

@media screen and (max-width: 992px) {

    /* Hero */

    .hero__section {
        margin-left: 100px;
    }

    .team__container {
        grid-template-columns: 1fr;
        margin-bottom: 180px;
    }
}

@media screen and (max-width: 768px) {
    
    /* Nav */
    
    .nav__links {
        align-items: center;
        background-color: #333333;
        flex-direction: column;
        gap: 50px;
        height: 100vh;
        z-index: 1000;
        justify-content: center;
        left: -100%;
        position: absolute;
        top: 0px;
        transition: all .5s;
        width: 70vw;
    }
    
    .nav__links a {
        color: white;
    }
    
    .nav__check {
        display: block;
    }
    
    #check:checked ~ .nav__links {
        left: 0;
        position: fixed;
    }
    
    /* Main */

    main {
        width: 95%;
    }

    /* Hero */
    
    .hero__section {
        margin-left: 10px;
    }

    .hero__section:first-child {
        width: 100%
    }
    

    /* Services */

    .services__card {
        flex-direction: column;
    }

    /* Proyects */

    .proyects__card {
        flex-direction: column;
    }

    .p-card__content {
        width: 100%;
        margin-bottom: 30px;
    }

    .p-card__content:first-child {
        margin-top: 0px;
    }
    
    .p-card__content:nth-child(3) {
        margin-top: 0px;
    }

    /* Team */

    .team__photos {
        grid-template-columns: repeat(30, 10px);
        grid-template-rows: repeat(30, 10px);
    }

    /* Testimonial */

    .testimonial__text {
        font-size: 28px;
        width: 100%;
    }

    /* Footer */

    .footer__container {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
}